body {
    background: black;
    width: 50vw;
    height: 50vh;
}

#gamefield {
    border: 2px solid red;
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(16, 64px);
    grid-template-rows: repeat(12, 64px);
}

#background {
    background: #fff2;
    grid-area: 1/1;
    display: grid;
    grid-template-columns: repeat(var(--grid-width), max-content);
    grid-template-rows: repeat(var(--grid-height), max-content);
}

#background .tile{
width: var(--tile-size);
height: var(--tile-size);
aspect-ratio: 1/1;
background-repeat: no-repeat;
background-size: 100%;
image-rendering: pixelated;

}

.grass {
    background-image: url('/images/tiles/grass.png');
}

.wall {
    background-image: url('/images/tiles/wall.png');
}

.water {
    background-image: url('/images/tiles/water.png');
}

.tree {
    background-image: url('/images/tiles/tree.png');
}

.redwall {
    background-image: url('/images/tiles/redwall.png');
}

.path {
    background-image: url('/images/tiles/path.png');
}

#items {
    grid-area: 1/1;
}

#characters {
    grid-area: 1/1;
}

#player {
    width: 48px;
    aspect-ratio: 16/20;
    background-image: url('images/characters/Character 1.png');
    background-size: 400%; /* Adjust if your spritesheet layout differs */
    image-rendering: pixelated;
}

/* General animation setup */
.animate {
    animation-duration: 0.2s;
    animation-timing-function: steps(3);
    animation-iteration-count: infinite;
}

/* Animation for moving upwards */
.up {
    animation-name: walkUp;
}

/* Animation for moving downwards */
.down {
    animation-name: walkDown;
}

/* Animation for moving left */
.left {
    animation-name: walkLeft;
}

/* Animation for moving right */
.right {
    animation-name: walkRight;
}

@keyframes walkUp {
    from { background-position: -100% 300%; } /* Updated to what was previously for right */
    to { background-position: -300% 300%; }
}

@keyframes walkRight {
    from { background-position: 0% 100%; } /* Updated to what was previously for up */
    to { background-position: -300% 100%; }
}

@keyframes walkDown {
    from { background-position: -100% 0%; } /* Assuming first row for 'down' animation */
    to { background-position: -300% 0%; }
}

@keyframes walkLeft {
    from { background-position: 0% 200%; } /* Assuming third row for 'left' animation */
    to { background-position: -300% 200%; }
}

.highlight{
    outline: 2px dashed yellow;
    translate: 0 0;
}

.show-reg-point::before{
    content: "";
    position: absolute;
    background-color: cyan;

    width: 3px;
    height: 3px;

    translate: var(--reg-x) var(--reg-y);

}

.show-player-hitbox::after{
    content: "";
    position: absolute;
    width: var(--hitbox-width);
    height: var(--hitbox-height);
    translate: var(--hitbox-x) var(--hitbox-y);
    outline: 2px dashed red;
}
